QMainWindow, QListWidget#listMenu, QWidget {
    background: #151515;
}

QMainWindow {
    border-radius: 10px;
}


#leftSideLayout: {
    background: red;
}


#stackedWidget > * {
    border-top: 1px solid #4F4F4F;
    border-left: 1px solid #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
    border-top-left-radius: 10px;
}


#close, #hide {
    padding: 0;
    border-radius: 0;
    margin: 0;
    color: red;
}
#hide {
    border-left: 1px solid #4F4F4F;
}