#centralwidget {
    border-radius: 10px;
    background: #151515;
}

#centralwidget QWidget {
    background: #151515;
}


#topSpace {
    border-bottom: 1px solid #4F4F4F;
}

#close, #hide {
    background: #151515;
    padding: 0;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid #4F4F4F;
}

#hide {
    background: #151515;
    border-left: 1px solid #4F4F4F;
}


#bottomSpace {
    border-top: 1px solid #4F4F4F;
}